<div ui-content-for="title">
  <span>Node</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
        <h3 class="page-header">{{ name }}</h3>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Publications</h3>
          </div>
          <div class="panel-body">
            <table class="table"><thead>
                <tr>
                    <th class="col-xs-2 col-md-2">Message</th>
                    <th>Topic</th>
                </tr>
            </thead><tbody>
                <tr ng-repeat="item in node.publications">
                    <td><span class="label label-default">{{ item.message }}</span></td>
                    <td>{{ item.topic }}</td>
                </tr>
            </tbody></table>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Subscriptions</h3>
          </div>
          <div class="panel-body">
            <table class="table"><thead>
                <tr>
                    <th class="col-xs-2 col-md-2">Message</th>
                    <th>Topic</th>
                </tr>
            </thead><tbody>
                <tr ng-repeat="item in node.subscriptions">
                    <td><span class="label label-default">{{ item.message }}</span></td>
                    <td>{{ item.topic }}</td>
                </tr>
            </tbody></table>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Services</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in node.services">
                    {{ item }}
                </li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Connections</h3>
          </div>
          <div class="panel-body">
            <table class="table"><thead>
                <tr>
                    <th class="col-xs-2 col-md-2">Direction</th>
                    <th class="col-xs-2 col-md-2">To</th>
                    <th>Topic</th>
                </tr>
            </thead><tbody>
                <tr ng-repeat="item in node.connections">
                    <td><span class="label label-default">{{ item.direction + " / " + item.transport }}</span></td>
                    <td>{{ item.to }}</td>
                    <td>{{ item.topic }}</td>
                </tr>
            </tbody></table>
          </div>
        </div>
    </div>
  </div>
</div>