<div class="modal" ui-if='noncompliance_modal' ui-state='noncompliance_modal'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" ui-turn-off="noncompliance_modal">&times;</button>
        <h4 class="modal-title">Rule Violations
            <small>{{uiData.loading ? "Loading..." : uiData.noncompliance.visibleData.length + " out of " + uiData.noncompliance.data.length + " occurrences"}}</small>
        </h4>
      </div>
      <div class="modal-body">
        <h1 ng-show="uiData.loading" class="app-content-loading text-center">
            <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </h1>
        <div ng-show="!uiData.loading && !!uiData.noncompliance.data.length">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="ncpl-tags-addon">Show</span>
                            <input type="text" class="form-control" placeholder="Filter by tag" aria-describedby="ncpl-tags-addon" ng-model="uiData.noncompliance.tag" ng-keypress="addModalFilter($event, 'noncompliance')"/>
                        </div>
                        <p class="margin-top hpadding line-lg">
                            <span ng-repeat="tag in uiData.noncompliance.filters track by $index">
                                <span class="clickable label label-default" ng-click="removeModalFilter($index, 'noncompliance')">{{tag}}</span>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="ncpl-ignore-addon">Ignore</span>
                            <input type="text" class="form-control" placeholder="Ignore tag" aria-describedby="ncpl-ignore-addon" ng-model="uiData.noncompliance.ignore" ng-keypress="addModalIgnoreFilter($event, 'noncompliance')"/>
                        </div>
                        <p class="margin-top hpadding line-lg">
                            <span ng-repeat="tag in uiData.noncompliance.ignored track by $index">
                                <span class="clickable label label-default" ng-click="removeModalIgnoreFilter($index, 'noncompliance')">{{tag}}</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="relative-position light-border">
                <!-- Template div that will be hidden by scrollable, so that the parent div has enough height to display an item. -->
                <div class="list-group invisible">
                    <div class="list-group-item">
                        <h4>Rule description <small>File, line, function</small></h4>
                        <p>Violation comment</p>
                        <p class="margin-top line-lg">
                            <span class="label label-default">tag</span>
                        </p>
                    </div>
                    <div class="list-group-item">
                        <h4>Rule description <small>File, line, function</small></h4>
                        <p>Violation comment</p>
                        <p class="margin-top line-lg">
                            <span class="label label-default">tag</span>
                        </p>
                    </div>
                </div>
                <!-- End of template elements. -->

                <div class="scrollable">
                    <div class="scrollable-content">
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat="item in uiData.noncompliance.visibleData">
                                <h4>{{item.rule}}
                                    <small>
                                        {{item.file ? "on " + item.file + (item.line ? ", line " + item.line : "") + (item.function ? ", function " + item.function : "") : ""}}
                                    </small>
                                </h4>
                                <p>{{item.comment}}</p>
                                <p class="margin-top hpadding line-lg">
                                    <span ng-repeat="tag in item.tags track by $index">
                                        <span class="clickable label label-default" ng-click="applyModalFilter(tag, 'noncompliance')">{{tag}}</span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 ng-show="!uiData.loading && !uiData.noncompliance.data.length" class="text-center">No results to display.</h4>
      </div>
      <div class="modal-footer">
        <button ui-turn-off="noncompliance_modal" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
